# Python version pin (jangan di-push ke Vercel)
.python-version

# Virtual environment
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env
.env.local

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/
